# Ignorar checkpoints do Jupyter
.ipynb_checkpoints/
.ipynb_checkpoints/

# Ignorar ambientes virtuais
venv/

# Ignorar executáveis e ferramentas locais
chromedriver

# Ignorar arquivos temporários e específicos do sistema
*.tmp
*.log
*.swp
*.DS_Store

# Ignorar documentos de texto e Word
Post Linkedin.docx
*.docx

# Ignorar arquivos do Excel ou Power BI
Vagas Linkedin em Portugal.xlsx
*.xlsx
*.pbix

# Ignorar pasta de ativos (assets)
assets/
